* {
    box-sizing: border-box;
}

body {
    font-family: 'Bangers', cursive;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #739BBC;
    /*display: grid;
    grid-template-columns: 1fr; */
  }

header, h1 {
    margin: auto 0px;
    font-size: 60px;
    letter-spacing: 5px;
    text-shadow:
        -1px -1px 0 #FEC741,
        1px -1px 0 #FEC741,
        -1px 1px 0 #FEC741,
        1px 1px 0 #FEC741;
}

h3 {
    font-size: 30px;
    text-align: center;
}

#numbers {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
}

button {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #4D2E2C;
    color: #FEC741;
    border: 4px solid black;
    border-radius: 6px;
    font-size: 20px;
  }

button:hover {
    background-color: #FEC741;
    color: #4D2E2C;
    cursor: pointer;
}

#beginAndRefresh {
    display: flex;
}

#start, #refresh {
    display: grid;
}

#timer {
    padding: auto;
    margin: auto;
    border: none;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    grid-gap:0vmin;
    border: 4px solid black;
    background-color: #FEC741;
    background-image: url(../assets/sdLogo);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

section div {
    background-size: contain;
}
