* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

#buttons {
    display: flex;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    grid-gap: 1vmin;
}

div {
    width: 10vmin;
}